#layer0{
    opacity: 1;
    /* z-index: 0; */
}

.buttonclass
{
    position:relative;
    top:5rem;
    background-color: #288EC8;
    font-size:2rem;
    border-radius: 5rem;
    color: white;
    margin-left:3rem;
    width:20%;
    padding:2%;
    display:block;
    min-width: 10rem;
    z-index: 20;
}



