#nizol {
    position: absolute;
    top: 10rem;
    width: 10rem;
    left: 5rem;
    z-index: 12;
}

#layer1 {
    position: relative;
    opacity: 0;
}

#sample {
    position: absolute;
    top: 10rem;
    width: 10rem;
    left: 38rem;
    padding-bottom: 5rem;
    z-index: 10;
}

#mortar {
    position: absolute;
    top: 28rem;
    left: 20rem;
    height: 10rem;
    width: 14rem;
    z-index: 10;
}

#mortar-heading {
    position: absolute;
    font-size: 3rem;
    left: 23.7rem;
    top: 38.6rem;
    z-index: 10;
}

#nizol-heading {
    position: absolute;
    font-size: 3rem;
    left: 59.7rem;
    top: 24rem;
    z-index: 10;
}

#sample-heading {
    position: absolute;
    font-size: 3rem;
    left: 8.2rem;
    top: 25rem;
    z-index: 10;
}

#message {
    position: absolute;
    top: 0.2rem;
    font-size: 3rem;
    border-style: solid;
    border-color: rgb(151, 210, 61);
    border-radius: 1rem;
    color: #288EC8;
    width: 90%;
}

#mixer {
    position: absolute;
    top: 15.7rem;
    height: 9.2rem;
    width: 2.2rem;
    transform: rotate(28deg);
    left: 20rem;
    z-index: 11;
}

#spatula1 {
    position: absolute;
    height: 4rem;
    opacity: 0;
    z-index: 9;
}

#spatula2 {
    position: absolute;
    left: 5rem;
    height: 4rem;
    opacity: 0;
    z-index: 9;
}

#spatula3 {
    position: absolute;
    left: 28rem;
    height: 4rem;
    opacity: 0;
    z-index: 9;
}

#spatula4 {
    position: absolute;
    left: 54rem;
    top: 24rem;
    height: 6rem;
    opacity: 0;
    z-index: 9;
}

#dropper1 {
    position: absolute;
    height: 5rem;
    width: 2rem;
    opacity: 0;
    z-index: 9;
}

#dropper2 {
    position: absolute;
    height: 5rem;
    width: 2rem;
    opacity: 0;
    z-index: 9;
}

#water1 {
    position: absolute;
    height: 5rem;
    width: 3rem;
    background-color: blue;
    opacity: 0;
    z-index: 9;
}

#water2 {
    position: absolute;
    height: 5rem;
    width: 3rem;
    background-color: blue;
    opacity: 0;
    z-index: 9;
}

#ir-plate {
    position: absolute;
    opacity: 1;
    z-index: 10;
}

#ir-plate-heading {
    position: absolute;
    font-size: 2rem;
    z-index: 10;
}

#ir-content {
    position: absolute;
    top: 10rem;
    height: 7rem;
    width: 10.5rem;
    left: 6rem;
    background-color: rgb(149, 147, 20);
    border-radius: 60%;
    opacity: 0;
    z-index: 11;
}

@media all and (min-width: 757px) and (max-width: 1359px) {
    #nizol {
        left: 31rem;
        top: 7rem;
        height: 7rem;
    }
    #sample {
        top: 7rem;
        left: 7rem;
        height: 7rem;
    }
    #mortar {
        left: 7.5rem;
        top: 24rem;
        width: 12rem;
    }
    #mortar-heading {
        font-size: 3rem;
        left: 10rem;
        top: 34.6rem;
    }
    #nizol-heading {
        font-size: 3rem;
        left: 32.7rem;
        top: 13.5rem;
        z-index: 10;
    }
    #sample-heading {
        font-size: 3rem;
        left: 7.6rem;
        top: 14rem;
        z-index: 10;
    }
    #message {
        font-size: 1.6rem;
    }
    #mixer {
        top: 20.7rem;
        height: 8.3rem;
        width: 2rem;
        transform: rotate(28deg);
        left: 13.9rem;
    }
    #spatula1 {
        height: 6rem;
        left: 11rem;
        top: 5rem;
    }
    #spatula2 {
        top: 20.5rem;
        left: 10rem;
        height: 7rem;
    }
    #spatula3 {
        top: 20.5rem;
        left: 10rem;
        height: 7rem;
    }
    #dropper1 {
        top: 4rem;
        left: 34.5rem;
        width: 3.5rem;
        height: 6rem;
    }
    #dropper2 {
        top: 21rem;
        left: 10rem;
        width: 3.5rem;
        height: 6rem;
    }
    #water1 {
        top: 5.7rem;
        left: 35.64rem;
        width: 1.2rem;
        height: 2.9rem;
    }
    #water2 {
        top: 22.8rem;
        left: 11.15rem;
        width: 1.1rem;
        height: 2.9rem;
    }
    #ir-plate {
        top: 25rem;
        left: 30rem;
        width: 12rem;
        height: 9em;
    }
    #ir-plate-heading {
        top: 35rem;
        left: 31.5rem;
        font-size: 3rem;
    }
    #spatula4 {
        top: 21rem;
        left: 33.5rem;
    }
    #ir-content {
        top: 26.7rem;
        left: 33.4rem;
        width: 5.5rem;
        height: 4rem;
    }
}

@media all and (min-width:1360px) {
    #nizol {
        left: 55rem;
        top: 10rem;
        width: 15rem;
        height: 15rem;
    }
    #sample {
        left: 5rem;
        width: 15rem;
        height: 15rem;
    }
    #mortar {
        left: 31rem;
        top: 27rem;
        width: 14rem;
    }
    #mortar-heading {
        font-size: 3rem;
        left: 33.7rem;
        top: 38rem;
    }
    #mixer {
        top: 22.4rem;
        height: 9rem;
        width: 2.5rem;
        transform: rotate(28deg);
        left: 38rem;
    }
    #spatula1 {
        top: 7rem;
        height: 6rem;
        left: 11.3rem;
    }
    #spatula2 {
        left: 34rem;
        top: 24rem;
        height: 6rem;
    }
    #spatula3 {
        left: 34rem;
        top: 24rem;
        height: 6rem;
    }
    #dropper1 {
        top: 6rem;
        left: 60.3rem;
        height: 7rem;
        width: 5rem;
    }
    #dropper2 {
        top: 21rem;
        left: 33rem;
        width: 4.8rem;
        height: 7rem;
    }
    #water1 {
        top: 7.9rem;
        left: 62.1rem;
        width: 1.4rem;
        height: 3.8rem;
    }
    #water2 {
        top: 23.2rem;
        left: 34.66rem;
        width: 1.4rem;
        height: 3.4rem;
    }
    #ir-plate {
        top: 29rem;
        left: 57rem;
        width: 15rem;
        height: 12em;
    }
    #ir-content {
        top: 31rem;
        left: 61rem;
        width: 7rem;
        height: 5rem;
    }
    #spatula4 {
        top: 24rem;
        left: 62rem;
    }
    #ir-plate-heading {
        top: 41rem;
        left: 60rem;
        font-size: 3rem;
    }
}

@media all and (max-width: 756px) and (min-width: 521px) {
    #nizol {
        left: 22rem;
        top: 7rem;
        width: 6rem;
        height: 6rem;
    }
    #sample {
        top: 7rem;
        left: 7rem;
        height: 6rem;
        width: 6rem;
    }
    #mortar {
        left: 7rem;
        top: 20rem;
        width: 8rem;
        height: 6rem;
    }
    #mortar-heading {
        top: 26rem;
        left: 8rem;
        font-size: 2.2rem;
    }
    #nizol-heading {
        font-size: 2.2rem;
        left: 22.8rem;
        top: 12.7rem;
        z-index: 10;
    }
    #sampleheading {
        font-size: 2rem;
        left: 7.1rem;
        top: 12.8rem;
        z-index: 10;
    }
    #mixer {
        top: 17.6rem;
        height: 5.3rem;
        width: 1.7rem;
        transform: rotate(28deg);
        left: 10.8rem;
    }
    #spatula1 {
        left: 8.9rem;
        top: 4.7rem;
        height: 4rem;
    }
    #spatula2 {
        left: 8.5rem;
        top: 16rem;
        height: 6rem;
    }
    #spatula3 {
        left: 8.5rem;
        top: 16rem;
        height: 6rem;
    }
    #dropper1 {
        top: 5rem;
        left: 24rem;
    }
    #dropper2 {
        top: 17rem;
        left: 9rem;
    }
    #water1 {
        top: 6.5rem;
        left: 24.64rem;
        width: 0.67rem;
        height: 2.5rem;
    }
    #water2 {
        top: 18.5rem;
        left: 9.66rem;
        width: 0.62rem;
        height: 2.4rem;
    }
    #ir-plate {
        top: 19.8rem;
        left: 22rem;
        width: 8rem;
        height: 6em;
    }
    #ir-content {
        top: 20.6rem;
        left: 24rem;
        width: 4rem;
        height: 3rem;
    }
    #spatula4 {
        top: 15.8rem;
        left: 23rem;
    }
    #ir-plate-heading {
        top: 26rem;
        left: 22rem;
        font-size: 2.2rem;
    }
    #message {
        font-size: 1.2rem;
    }
}

@media all and (max-width: 520px) {
    #nizol {
        left: 4rem;
        top: 14rem;
        width: 6rem;
        height: 5rem;
    }
    #sample {
        top: 5em;
        left: 4rem;
        height: 5rem;
        width: 6rem;
    }
    #mortar {
        left: 3.2rem;
        top: 24rem;
        width: 8rem;
        height: 6rem;
    }
    #mortar-heading {
        left: 4.89rem;
        top: 30.5rem;
        width: 8rem;
        height: 10rem;
        font-size: 1.5rem;
    }
    #nizol-heading {
        font-size: 1.5rem;
        left: 4.89rem;
        top: 18.7rem;
        z-index: 10;
    }
    #sample-heading {
        font-size: 1.5rem;
        left: 4.89rem;
        top: 9.9rem;
        z-index: 10;
    }
    #message {
        font-size: 1.3rem;
    }
    #mixer {
        top: 22rem;
        height: 5.3rem;
        width: 1.7rem;
        transform: rotate(28deg);
        left: 7rem;
    }
    #spatula1 {
        left: 5.9rem;
        top: 2.7rem;
        height: 4rem;
    }
    #spatula2 {
        left: 5rem;
        top: 21rem;
        height: 4rem;
    }
    #spatula3 {
        left: 5rem;
        top: 21rem;
        height: 4rem;
    }
    #spatula4 {
        top: 28.5rem;
        left: 5rem;
    }
    #dropper1 {
        top: 11.5rem;
        left: 6rem;
    }
    #dropper2 {
        top: 20rem;
        left: 5rem;
    }
    #water1 {
        top: 13rem;
        left: 6.64rem;
        width: 0.67rem;
        height: 2.5rem;
    }
    #water2 {
        top: 21.5rem;
        left: 5.66rem;
        width: 0.62rem;
        height: 2.4rem;
    }
    #ir-plate {
        top: 34rem;
        left: 3rem;
        width: 8rem;
        height: 6em;
    }
    #ir-content {
        top: 35rem;
        left: 5.1rem;
        height: 3rem;
        width: 4rem;
    }
    #ir-plate-heading {
        top: 41rem;
        left: 4.5rem;
        font-size: 1.6rem;
    }
}