#layer0 {
    opacity: 1;
}

.button-class {
    position: relative;
    top: 5rem;
    background-color: #288EC8;
    font-size: 1.5rem;
    border-radius: 5rem;
    color: white;
    margin: 3rem;
    width: 15%;
    padding: 2%;
    display: block;
    min-width: 10rem;
    z-index: 20;
    cursor: pointer;
}

#button2 {
    position: absolute;
    top: 12rem;
}