#bottle {
    /* opacity: 0.5; */
    position: absolute;
    top: 12.6vw;
    height: 12vw;
    width: 12vw; 
    left: 10.2vw;
    /* background-color: #add8e6; */
    border-radius: 0 0 1vw 1vw;  
    z-index: 2;
}

#layer1 {
    opacity: 1;
}
#layer2 {
    opacity: 0;
}
body {
    border: 5px solid black;
    padding: 40vw;
    padding-bottom: 50vw;
    margin: 0vw;
}

#spatula {
    position: absolute;
    /* border-color:black; */
    top: 5.6vw;
    height: 8vw;
    width: 5vw; 
    left: 13.2vw; 
    opacity: 0; 
    z-index: 10; 
    /* background-color: #add8e6; */
    border-radius: 0 0 1vw 1vw;  
}
#spatula2{
    position: absolute;
    /* border-color:black; */
    top: 25.6vw;
    height: 8vw;
    width: 5vw; 
    left: 26.3vw; 
    opacity: 0; 
    z-index: 7; 
    /* background-color: #add8e6; */
    border-radius: 0 0 1vw 1vw;  
}
#button1 {
    position: absolute;
    font-size:2vw;
    border-radius: 0.2vw;
    font-size:2vw;
    background-color:yellow;
    top: 24.6vw;
    left: 3vw;
    z-index:5 ;
}
#button2 {
    position: absolute;
    font-size:2vw;
    border-radius: 0.2vw;
    font-size:2vw;
    background-color: red;
    top: 28.6vw;
    left: 3vw;
    z-index: 5;

}
#nizol {
    position: absolute;
    top: 12.6vw;
    height: 12vw;
    width: 12vw; 
    left: 35.8vw;  
    border-radius: 0 0 1vw 1vw;  
    z-index: 5;
    opacity:0.8;
}
#mortar {
    position: absolute;
    top: 30.6vw;
    height: 10vw;
    width: 17vw; 
    left: 21.3vw; 
    border-radius: 0 0 1vw 1vw;
    /* z-index:4; */
    z-index:8;


}
#monitor{
    position: absolute;
    top: 50.6vw;
    height: 38vw;
    width: 48vw; 
    left: 50.3vw; 
    /* opacity: 0; */
    /* background-color: #add8e6; */
    border-radius: 0 0 1vw 1vw;  
}

#scanner{
    position: absolute;
    top: 55.6vw;
    height: 20vw;
    width: 30vw; 
    left: 13.3vw; 
    /* opacity: 0; */
    /* background-color: #add8e6; */
    border-radius: 0 0 1vw 1vw; 

}
#dropper {
    position: absolute;
    top: 2vw;
    height: 10vw;
    width: 6vw; 
    left: 38.8vw;  
    /* top: 12.6vw;
    height: 6vw;
    width: 6vw; 
    left: 18.2vw; */
    z-index: 1;
    opacity: 0; 
    /* background-color: #add8e6; */
    border-radius: 0 0 1vw 1vw;  
}
#dropper2{
    position: absolute;
    top: 7vw;
    height: 10vw;
    width: 6vw; 
    left: 38.8vw;  
    /* top: 12.6vw;
    height: 6vw;
    width: 6vw; 
    left: 18.2vw; */
    z-index: 1;
    opacity: 0;
    /* opacity: 0; */
    /* background-color: #add8e6; */
    border-radius: 0 0 1vw 1vw;  
}
#dropper3{
    position: absolute;
    top: 21.5vw;
    height: 10vw;
    width: 6vw; 
    left: 25.2vw;  
    /* top: 12.6vw;
    height: 6vw;
    width: 6vw; 
    left: 18.2vw; */
    z-index: 1;
    opacity: 0;
    /* opacity: 0; */
    /* background-color: #add8e6; */
    border-radius: 0 0 1vw 1vw;  
}
#dropperwater2{
    position: absolute;
    /* top: 11.8vw; */
    top:15.2vw;
    /* height: 3.4vw; */
    height:0vw;
    width: 1.85vw; 
    left: 40.78vw;
    z-index: 3;
    opacity: 0;
    background-color:rgb(78, 154, 226);
}
#mixer{
    position: absolute;
    top: 25.3vw;
    height: 10.5vw;
    width: 3vw; 
    transform: rotate(28deg);
    left: 29.3vw; 
    /* z-index:5; */
    z-index:9;
    
    /* opacity: 0; */
    /* background-color: #add8e6; */
 
}
#createcircle{
    position: absolute;
    top:51vw;
    height: 30vw;
    width: 46vw;
    left:5vw;
    background-color: rgb(37, 37, 37);
    border-radius: 60%;
    opacity:0;
    z-index: 5;
}

#message{
    position: absolute;
    font-size:2vw;
    font-family: Arial, Helvetica, sans-serif;
    top:46vw;
    left:2vw;
    z-index: 9;
    width:52vw;
}

#irplate{
    position: absolute;
    top: 30.3vw;
    height: 10vw;
    width: 12vw; 
    left: 39.3vw; 
    opacity:0;

}
#ircontent{
    position: absolute;
    top:32.95vw;
    height: 3vw;
    width: 6.5vw;
    left:42.08vw;
    background-color:rgb(149, 147, 20);
    border-radius: 60%;
    opacity:0;
    z-index: 5;
    
}

#withoutborderplate{
    position: absolute;
    top:21.5vw;
    height: 11vw;
    width: 11vw;
    left:42.75vw;
    z-index: 3;
}
#borderplate{
    position: absolute;
    top:21.5vw;
    height: 11vw;
    width: 11vw;
    left:22.75vw;
}

#irplate1{
    position: absolute;
    top: 8.3vw;
    height: 7vw;
    width: 7vw; 
    left: 5.3vw;
    z-index:3; 
    opacity:1;
    
}
#irplate2{
    position: absolute;
    top: 14.2vw;
    height: 7vw;
    width: 7vw; 
    left: 24.3vw; 
    z-index:1;
}
#redcircle{
    position: absolute;
    top:16.58vw;
    left:26.73vw;
    height: 1.7vw;
    width: 2.5vw;
    background-color:red;
    border-radius: 60%;
    opacity:1;
    z-index: 2;
}
/* #stand{
    position: absolute;
    top:47vw;
    height: 40vw;
    width: 22vw;
    left:16.5vw;
    opacity:0;
    z-index: 6;
} */
#stand{
    position: absolute;
    top:58.9vw;
    height: 17.2vw;
    width: 24vw;
    left:15.97vw;
    /* background-color: rgb(37, 37, 37); */
    /* border-radius: 60%; */
    /* opacity:1; */
    opacity:0;
    z-index: 6;

}
#movable{
    position: absolute;
    top:51vw;
    height: 5vw;
    width: 2vw;
    left:26.9vw;
    /* background-color: rgb(37, 37, 37); */
    /* border-radius: 60%; */
    opacity:0;
    z-index: 7;
    
}
#singlestand{
    position: absolute;
    top:65vw;
    height: 7vw;
    width: 0.8vw;
    left:26.75vw;
    /* background-color: rgb(37, 37, 37); */
    /* border-radius: 60%; */
    opacity:0;
    z-index: 9;  
}
#line{
    position: absolute;
    top:20vw;
    height: 0.2vw;
    width: 0vw;
    left:60vw;
    background-color:rgb(231, 231, 125); 
    /* border-radius: 60%; */
    opacity:0;
    z-index: 9;  

}
#lineup{
    position: absolute;
    top:20vw;
    height: 0vw;
    width: 0.2vw;
    left:76vw;
    background-color:rgb(231, 231, 125); 
    /* border-radius: 60%; */
    opacity:1;
    z-index: 9;  
}
#lineright{
    position: absolute;
    top:20vw;
    height: 0.2vw;
    width: 0vw;
    left:76vw;
    background-color:rgb(231, 231, 125); 
    /* border-radius: 60%; */
    opacity:1;
    z-index: 9;  
}
#lineleft{
    position: absolute;
    top:20vw;
    height: 0.2vw;
    width: 0vw;
    left:92vw;
    background-color:rgb(231, 231, 125); 
    /* border-radius: 60%; */
    opacity:1;
    z-index: 9;  
}
#linedown{
    position: absolute;
    top:8vw;
    height: 0vw;
    width: 0.2vw;
    left:76vw;
    background-color:rgb(231, 231, 125); 
    /* border-radius: 60%; */
    opacity:1;
    z-index: 9;  
}
#linedownfinal{
    position: absolute;
    top:20vw;
    height: 0vw;
    width: 0.2vw;
    left:76vw;
    background-color:rgb(231, 231, 125); 
    /* border-radius: 60%; */
    opacity:1;
    z-index: 9;  
}
#fixedmirror{
    position: absolute;
    top:5vw;
    height: 3vw;
    width: 24vw;
    left:69vw;
    /* background-color:red;  */
    /* border-radius: 60%; */
    opacity:1;
    z-index: 9; 

}
#beamsplitter{
    position: absolute;
    top:15vw;
    height: 10vw;
    width: 10vw;
    left:73.8vw;
    /* background-color:red;  */
    /* border-radius: 60%; */
    opacity:1;
    z-index: 9; 

}
#ir{
    position: absolute;
    top:15vw;
    height: 8.5vw;
    width: 8.5vw;
    left:53.8vw;
    /* background-color:red;  */
    /* border-radius: 60%; */
    opacity:1;
    z-index: 9; 

}
#mirror1{
    position: absolute;
    top:15vw;
    height: 8.5vw;
    width: 8.5vw;
    left:87.8vw;
    /* background-color:red;  */
    /* border-radius: 60%; */
    opacity:1;
    z-index: 9; 

}
#detector{
    position: absolute;
    top:30vw;
    height: 8.5vw;
    width: 8.5vw;
    left:74.8vw;
    /* background-color:red;  */
    /* border-radius: 60%; */
    opacity:1;
    z-index: 9; 

}

#rightarrow1 {
    position: absolute;
    top:19.555vw;
    left:70vw;
    border: solid rgb(231, 231, 125); 
    border-width: 0 0.2vw 0.2vw 0;
    display: inline-block;
    padding: 0.4vw;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    opacity:0;
  }
  #rightarrow2 {
    position: absolute;
    top:19.555vw;
    left:85vw;
    border: solid rgb(231, 231, 125); ;
    border-width: 0 0.2vw 0.2vw 0;
    display: inline-block;
    padding: 0.4vw;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    opacity:0;
  }
  #leftarrow1 {
    position: absolute;
    top:19.555vw;
    left:81vw;
    border: solid rgb(231, 231, 125); ;
    border-width: 0 0.2vw 0.2vw 0;
    display: inline-block;
    padding: 0.4vw;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    opacity:0;
  }

  #uparrow1 {
    position: absolute;
    top:10.555vw;
    left:75.6vw;
    border: solid rgb(231, 231, 125); ;
    border-width: 0 0.2vw 0.2vw 0;
    display: inline-block;
    padding: 0.4vw;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    opacity:0;
  }
  #downarrow1 {
    position: absolute;
    top:13.555vw;
    left:75.6vw;
    border: solid rgb(231, 231, 125); ;
    border-width: 0 0.2vw 0.2vw 0;
    display: inline-block;
    padding: 0.4vw;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    opacity:0;
  }
  #downarrow2 {
    position: absolute;
    top:25.555vw;
    left:75.6vw;
    border: solid rgb(231, 231, 125); ;
    border-width: 0 0.2vw 0.2vw 0;
    display: inline-block;
    padding: 0.4vw;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    opacity:0;
  }

  #startbutton{
     position:absolute;
     background-color:yellow;
     font-size:2vw;
     top: 84vw;
     left: 10vw;
  }

  #evaluatebutton{
    position:absolute;
    background-color:yellow;
    font-size:2vw;
    top: 84vw;
    left: 27vw;
    z-index: 10;
 }
 #graph{
     position:absolute;
     width:40vw;
     height:35vw;
     left:48vw;
     top:53vw;
     
 }

 #plot2{
     position:absolute;
     width:40vw;
     height:35vw;
     left:60vw;
     top:53vw;
 }

 #chartContainer{
     position:absolute;
     width:39vw;
     height:28vw;
     left:54vw;
     top:55vw;
 }

 #mortarheading{
    position: absolute;
    font-size:2vw;
    font-family: Arial, Helvetica, sans-serif;
    top: 41.6vw;
    height: 10vw;
    width: 17vw; 
    left: 26.9vw;
 }
 #waterdrop1{
    position: absolute;
    left:27.5vw;
    top:31vw;
    width:1.1vw;
    height:1.1vw;
    border-radius: 1.1vw;
    background-color: rgb(78, 154, 226);
    z-index:8;
    opacity:0;
 }
 #spatulacontent2{
    position: absolute;
    left:29.17vw;
    top:32.15vw;
    width:1.8vw;
    height:0.3vw;
    /* border-radius: 1.1vw; */
    background-color: yellow;
    z-index:7;
    opacity:1;
    opacity:0;
 }

 #spatulacontent1{
    position: absolute;
    left:29.17vw;
    top:32.15vw;
    width:1.8vw;
    height:0.3vw;
    /* border-radius: 1.1vw; */
    background-color: yellow;
    z-index:7;
    /* opacity:1; */
    opacity:1;
 }
 #spatulacontent2{
    position: absolute;
    left:16vw;
    top:12.05vw;
    width:1.8vw;
    height:0vw;
    /* border-radius: 1.1vw; */
    background-color: yellow;
    z-index:10;
    opacity:1;
 }
 #irplateheading{
    position: absolute;
    font-size:2vw;
    font-family: Arial, Helvetica, sans-serif;
    top: 41.6vw;
    height: 10vw;
    width: 17vw; 
    left: 40.9vw;
    opacity:0;
 }