#nizol{
  position:absolute;
  top:10rem;
  width: 10rem;
  /* height: 5rem; */
  left: 5rem;
  z-index: 12;
}
#layer1{
  position:relative;
  /* z-index:0 ; */
  opacity: 1;
}
#sample{
  position:absolute;
  top:10rem;
  width: 10rem;
  left : 38rem; 
  padding-bottom:5rem;
  z-index:10;
}
/* #ircollect
{
  position:relative;
  left: 15px;
  right:30px;
} */
#mortar{
  position:absolute;
  top:28rem;
  left: 20rem;
  height:10rem;
  width:14rem;
  z-index: 10;
}

#mortarheading{
  position:absolute;
  font-size: 3rem;
  left: 23.7rem;
  top: 38.6rem;
  z-index: 10;
}

#nizolheading{
  position:absolute;
  font-size: 3rem;
  left: 59.7rem;
  top: 24rem;
  z-index: 10;
}

#sampleheading{
  position:absolute;
  font-size: 3rem;
  left: 8.2rem;
  top: 25rem;
  z-index: 10;
}


#message{
  position:absolute;
  top:0.2rem;
  font-size: 3rem;
  background-color:greenyellow;
  width:90%;
}

#mixer{
  position: absolute;
  top: 15.7rem;
  height: 9.2rem;
  width: 2.2rem; 
  transform: rotate(28deg);
  left: 20rem; 
  z-index: 11;
}

#spatula1{
  position:absolute;
  height:4rem;
  opacity:0;
  z-index: 9;
}
#spatula2{
  position:absolute;
  left: 5rem;
  height:4rem;
  opacity:0;
  z-index:9;
}
#spatula3{
  position:absolute;
  /* top: */
  left:28rem;
  height:4rem;
  opacity:0;
  z-index: 9;
}

#spatula4{
  position:absolute;
  /* top: */
  left:54rem;
  top:24rem;
  height:6rem;
  opacity:0;
  z-index: 9;
  
}

#dropper1{
  position:absolute;
  height:5rem;
  width:2rem;
  opacity:0;
  z-index: 9;

}

#dropper2{
  position:absolute;
  height:5rem;
  width:2rem;
  opacity:0;
  z-index: 9;

}

#water1{
  position:absolute;
  height:5rem;
  width:3rem;
  background-color: blue;
  opacity:0;
  z-index: 9;
}

#water2{
  position:absolute;
  height:5rem;
  width:3rem;
  background-color: blue;
  opacity:0;
  z-index: 9;
}

#irplate{
  position: absolute;
  opacity:1;
  z-index: 10;
}

#irplateheading{
  position:absolute;
  font-size: 2rem;
  z-index: 10;
}

#ircontent{
  position: absolute;
  top:10rem;
  height: 7rem;
  width: 10.5rem;
  left:6rem;
  background-color:rgb(149, 147, 20);
  border-radius: 60%;
  opacity:0;
  z-index: 11;
  
}
@media all and (min-width: 757px) and (max-width: 815px) {
    #nizol {
      /* On small screens, we are no longer using row direction but column */
      left:24rem;
      top:5rem;
      height:7rem;

    }
    #sample
    {
      top:5rem;
      left:7rem;
      height: 7rem;
    }
    #mortar {
      /* On small screens, we are no longer using row direction but column */
      left:13.5rem;
      top:20rem;
      width: 12rem;
    }
    #mortarheading{
      position:absolute;
      font-size: 3rem;
      left: 16rem;
      top: 30.6rem;
    }

    #sampleheading{
      position:absolute;
      font-size: 3rem;
      left: 7.6rem;
      top: 12rem;
      z-index: 10;
    }

    #nizolheading{
      position:absolute;
      font-size: 3rem;
      left: 25.7rem;
      top: 11.5rem;
      z-index: 10;
    }
  
    #message{
      font-size:2rem;
    }
    #spatula1{
      position:absolute;
      height:4.5rem;
      left: 10.5rem;
      top:2.8rem;
      /* opacity:1, */
    }
    #spatula2{
      position:absolute;
      top:15rem;
      left:16rem;
      height:8rem;
      
    }
    #spatula3{
      position:absolute;
      top:15rem;
      left:16rem;
      height:8rem;
      
    }
    
    #dropper1{
      /* position:absolute; */
      height:5rem;
      width:2rem;
      left:28rem;
      top:2rem;
      /* opacity:0; */
    
    }
    
    #dropper2{
      /* position:absolute; */
      height:5rem;
      width:2rem;
      left:18rem;
      top:16rem;
      /* opacity:0; */
    
    }
    #water1{
      top:3.5rem;
      left:28.64rem;
      width:0.67rem;
      height:2.5rem;
      /* opacity: 0; */

    }
    #water2{
      top:17.7rem;
      left:18.64rem;
      width:0.67rem;
      height:2.5rem;
      /* opacity: 0; */

    }

    #irplate{
      top:21rem;
      left:30rem;
      width:12rem;
      height:9em;

    }
    #ircontent
    {
      top:22.8rem;
      left:33rem;
      width:6rem;
      height:4rem;
    }
    #spatula4
    {
      top:16rem;
      left:34rem;
      
    }
    #irplateheading{
      top:31rem;
      left:31.5rem;
      font-size:3rem;
      

    }

  }
  @media all and (min-width: 816px) and (max-width: 1359px) {
    #nizol {
      /* On small screens, we are no longer using row direction but column */
      left:24rem;
      top:5rem;
      height:7rem;

    }
    #sample
    {
      top:5rem;
      left:7rem;
      height: 7rem;
    }
    #mortar {
      /* On small screens, we are no longer using row direction but column */
      left:13.5rem;
      top:20rem;
      width: 12rem;
    }
    #mortarheading{
      position:absolute;
      font-size: 3rem;
      left: 16rem;
      top: 30.6rem;
    }
    #nizolheading{
      position:absolute;
      font-size: 3rem;
      left: 25.7rem;
      top: 11.5rem;
      z-index: 10;
    }
    
    #sampleheading{
      position:absolute;
      font-size: 3rem;
      left: 7.6rem;
      top: 12rem;
      z-index: 10;
    }
    #message{
      font-size:2rem;
    }
    #mixer{
      position: absolute;
      top: 16.7rem;
      height: 8.3rem;
      width: 2rem; 
      transform: rotate(28deg);
      left: 19.9rem; 
    }
    #spatula1{
      position:absolute;
      height:4rem;
      left:11rem;
      top:3rem;
      
    }
    #spatula2{
      position:absolute;
      top:16.5rem;
      /* top: */
      left:16rem;
      height:7rem;
      
    }
    #spatula3{
      position:absolute;
      top:16.5rem;
      /* top: */
      left:16rem;
      height:7rem;
      
    }
    #dropper1{
      top:2rem;
      left:28rem;
    }
    #dropper2{
      top:17rem;
      left:16rem;
    }
    #water1{
      top:3.5rem;
      left:28.64rem;
      width:0.67rem;
      height:2.5rem;

    }
    #water2{
      top:18.5rem;
      left:16.66rem;
      width:0.62rem;
      height:2.4rem;

    }
    #irplate{
      top:21rem;
      left:30rem;
      width:12rem;
      height:9em;

    }
    #irplateheading{
      top:31rem;
      left:31.5rem;
      font-size:3rem;
    }
    #spatula4
    {
      top:17rem;
      left:33.5rem;
    }
    #ircontent
    {
      top:22.7rem;
      left:33.4rem;
      width:5.5rem; 
      height:4rem;
    }
  }
  @media all and (min-width:1360px) {
    #nizol {
      /* On small screens, we are no longer using row direction but column */
      left:55rem;
      top:10rem;
      width:15rem;
      height:15rem;

    }
    #sample{
      left: 5rem;
      width:15rem;
      height:15rem;
    }
    #mortar {
      /* On small screens, we are no longer using row direction but column */
      left:31rem;
      top:27rem;
      width: 14rem;
    }

    #mortarheading{
      position:absolute;
      font-size: 3rem;
      left: 33.7rem;
      top: 38rem;
    }
    #mixer{
      position: absolute;
      top: 22.4rem;
      height: 9rem;
      width: 2.5rem; 
      transform: rotate(28deg);
      left: 38rem; 
    }
    #spatula1{
      position:absolute;
      top:7rem;
      height:6rem;
      left:11.3rem;
      
    }
    #spatula2{
      position:absolute;
      /* top: */
      left:34rem;
      top:24rem;
      height:6rem;
      
    }
    #spatula3{
      position:absolute;
      /* top: */
      left:34rem;
      top:24rem;
      height:6rem;
      
    }
    
    #dropper1{
      top:6rem;
      left:60.3rem;
      height: 7rem;
      width: 5rem;
    }
    #dropper2{
      top:21rem;
      left:33rem;
      width:4.8rem;
      height:7rem;
    }
    #water1{
      top:7.9rem;
      left:62.1rem;
      width:1.4rem;
      height:3.8rem;

    }
    #water2{
      top:23.2rem;
      left:34.66rem;
      width:1.4rem;
      height:3.4rem;
    }
    #irplate{
      top:29rem;
      left:57rem;
      width:15rem;
      height:12em;

    }
    #ircontent
    {
      top:31rem;
      left:61rem;
      width:7rem; 
      height:5rem;
    }
    #spatula4
    {
      top:24rem;
      left:62rem;

    }
    #irplateheading{
      top:41rem;
      left:60rem;
      font-size:3rem;
      

    }

  }
  @media all and (max-width: 756px) and (min-width: 521px) {
    #nizol {
      /* On small screens, we are no longer using row direction but column */
      left:19rem;
      top:5rem;
      /* height:5rem; */
      width:6rem;
      height:6rem;
      /* z-index: 2; */
  
    }
    #sample
    {
      top:5rem;
      left:7rem;
      height:6rem;
      width: 6rem;
      
    }
    #mortar {
      /* On small screens, we are no longer using row direction but column */
      left:12rem;
      top:16rem;
      width: 8rem;
      height :6rem;
      
    }

    #mortarheading{
      top:22rem;
      left:13rem;
      font-size:2rem;
     

    }

    #nizolheading{
      position:absolute;
      font-size:2rem;
      left: 19.8rem;
      top: 10.7rem;
      z-index: 10;
    }
    
    #sampleheading{
      position:absolute;
      font-size: 2rem;
      left: 7.1rem;
      top: 11.1rem;
      z-index: 10;
    }

    #mixer{
      position: absolute;
      top: 13.6rem;
      height: 5.3rem;
      width: 1.7rem; 
      transform: rotate(28deg);
      left: 15.8rem; 
    }
    #spatula1{
      position:absolute;
      /* top: */
      left:8.9rem;
      top:2.7rem;
      height:4rem;

    }
    #spatula2{
      position:absolute;
      /* top: */
      left:12.5rem;
      top:12rem;
      height:6rem;
      
    }
    #spatula3{
      position:absolute;
      /* top: */
      left:12.5rem;
      top:12rem;
      height:6rem;
      
    }
    #dropper1{
      top:3rem;
      left:21rem;
    }
    #dropper2{
      top:13rem;
      left:13rem;
    }
    #water1{
      top:4.5rem;
      left:21.64rem;
      width:0.67rem;
      height:2.5rem;

    }
    #water2{
      top:14.5rem;
      left:13.66rem;
      width:0.62rem;
      height:2.4rem;

    }
    #irplate{
      top:15.8rem;
      left:22rem;
      width:8rem;
      height:6em;

    }
    #ircontent
    {
      top:16.6rem;
      left:24rem;
      width:4rem;
      height:3rem;
    }
    #spatula4
    {
      top:11.8rem;
      left:23rem;
    }
    #irplateheading{
      top:22rem;
      left:22rem;
      font-size:2.2rem;
      

    }
    #message{
      font-size:1.2rem;
    }
 
  }

  @media all and (max-width: 520px) {
    #nizol {
      /* On small screens, we are no longer using row direction but column */
      left:4rem;
      top:16rem;
      /* height:5rem; */
      width:6rem;
      height:5rem;
  
    }
    #sample
    {
      top:8rem;
      left:4rem;
      height:5rem;
      width: 6rem;
    }
    #mortar {
      /* On small screens, we are no longer using row direction but column */
      left:3.2rem;
      top:25rem;
      width: 8rem;
      height :6rem;
    }
    #mortarheading {
      /* On small screens, we are no longer using row direction but column */
      left:4.89rem;
      top:31.5rem;
      width: 8rem;
      height :10rem;
      font-size:1.5rem;
    }
    #nizolheading{
      position:absolute;
      font-size:1.5rem;
      left: 4.89rem;
      top: 20.7rem;
      z-index: 10;
    }
    
    #sampleheading{
      position:absolute;
      font-size: 1.5rem;
      left: 4.89rem;
      top: 12.9rem;
      z-index: 10;
    }
    #message
    {
      font-size:1.3rem;
    }
    #mixer{
      position: absolute;
      top: 23rem;
      height: 5.3rem;
      width: 1.7rem; 
      transform: rotate(28deg);
      left: 7rem; 
    }
    #spatula1{
      position:absolute;
      /* top: */
      left:5.9rem;
      top:5.7rem;
      height:4rem;
      
    }
    #spatula2{
      position:absolute;
      /* top: */
      left:5rem;
      top:23rem;
      height:4rem;
      
    }
    #spatula3{
      position:absolute;
      /* top: */
      left:5rem;
      top:23rem;
      height:4rem;
    
    }
    #spatula4
    {
      top:29.5rem;
      left:5rem;
    }
    #dropper1{
      top:13.5rem;
      left:6rem;
    }
    #dropper2{
      top:21rem;
      left:5rem;
    }
    #water1{
      top:15rem;
      left:6.64rem;
      width:0.67rem;
      height:2.5rem;

    }
    #water2{
      top:22.5rem;
      left:5.66rem;
      width:0.62rem;
      height:2.4rem;

    }
    #irplate{
      top:35rem;
      left:3rem;
      width:8rem;
      height:6em;

    }
    /* #ircontent
    {
      top:32rem;
      left:6rem;

    } */
    #ircontent
    {
      top:36rem;
      left:5.1rem;
      height:3rem;
      width:4rem;

    }
    #irplateheading{
      top:42rem;
      left:4.5rem;
      font-size:1.6rem;
      

    }
  }